astroid			
Click			
colorama		
fastapi~=0.89.1
gunicorn		
h11
httpx
isort			
lazy-object-proxy
mccabe			
pydantic~=1.10.4
pylint
pytest
requests
six				
starlette~=0.22.0
uvicorn			
websockets		
wrapt			
uvloop
pysondb~=1.6.7